
<%- include('./partials/head.ejs') %> 


<body>
    <%- include('./partials/nav.ejs')  %> 
    <div class="container">
        <div class="title-card">
            <h2><%= story.title %></h2>
            <span><%= story.snippet %></span>
        </div>
        <p>
            <%= story.body %>
        </p>
    </div>
</body>